*{padding:0;margin:0;outline:0;}
body{font-size:16px;font-family:verdana;line-height:18px;}
.clear{overflow:hidden;}
template{width:1000px; 
margin:0 auto; 
}
.headersection {
  background: #7c7c77 none repeat scroll 0 0;
  

 
}
.headertop {
  height: 164px;
  margin: 0 auto;
}
.logo {
  float: left;
  margin-left: -62px;
  width: 600px;
}
.logo img {
  height: 546px;
  margin-top: -107px;
  width: 420px;
}
.social {
  float: right;
  margin-right: 4px;
  margin-top: 64px;
  width: 400px;
}
.social img {
  margin-right: 20px;
  border-radius: 50%;
}
.navsection{background-color: #709186;
    padding: 0px;
    min-height: 70px;}
.menubar {
 width:100%;
 
}
.menubar ul {
  list-style: none;
  margin-left: 80px;
  padding: 0;
}
.menubar ul li {float:left;display:block;}
.menubar ul li a {
  
  color: #fff;
  display: block;
  font-size: 22px;
  margin: 22px;
  padding: 12px;
  text-decoration: none;
  margin-right: 40px;
  font-weight:bold;
}
.menubar ul li  a:hover{
	background:#7C7C77;
	color:#D4DAD0;
	font-weight:normal;

  
}
.slidersection {
  background: rgba(0, 0, 0, 0) url("banner.jpg") no-repeat scroll 0 0;
  padding: 400px;
}
.slider {
  max-width:800px;margin:0 auto;
}
.slider h1 {
  line-height: 43px;
  font-size: 40px;
  color: #fdfdb4;
}
.contentsection {
  background: #5555;
}
.maincontent{}
.project {
  float: left;
  margin-right: 15px;
  text-align: center;
  width: 322px;
}
.project h2 {
  border-bottom: 2px dotted #b9dbdc;
  font-size: 40px;
  font-weight: normal;
  margin: 24px;
  padding: 22px;
}
.project img {
  background: #BAD8E0;
  padding: 5px;
  margin: 15px;
}
.project img:hover{opacity:0.3;}
.project p {
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
}
.footersection {
  background: #444;
}
.footer{}
.samefooter {
  float: left;
  width: 449px;
}
.samefooter ul{list-style: none;
}
.footermenu ul li {float:left;display:block;}
.footermenu ul li a {
  color: #fff;
  display: block;
  font-size: 12px;
  margin: 7px;
  padding: 12px;
  text-decoration: none;
}
.footermenu ul li a:hover {color:#ddd;
font-style:italic;}
.footercopy {}
.footercopy p {
  color: #ccc;
  margin: 17px;
}
.footersocial {
  margin-left: 176px;
  margin-top: 4px;
}
.footersocial img {
  border-radius: 50%;
  margin-left: 6px;
}

